.lgpage{
    color: black;
    margin-left: 500px;
}
.uun{
    color: black;
    margin-left: 500px;
}
.ppw{
    color: black;
    margin-left: 500px;
}
.bus{
    margin-left: 550px;
    margin-top: 20px;
}
.uzi{
    margin-top: 20px;
}
.uzn{
    margin-top: 20px;
    margin-left: 4px;
}
body{
    background-color: darkgray;
}